[project]
	description = ooneko.github.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ooneko
[access "refs/for/refs/*"]
	read = group user/ooneko
	push = group user/ooneko
	label-Code-Review = -2..+2 group user/ooneko
	label-Verified = -1..+1 group user/ooneko
	rebase = group user/ooneko
	removeReviewer = group user/ooneko
	submit = group user/ooneko
[access "refs/heads/*"]
	read = group user/ooneko
	create = group user/ooneko
	push = +force group user/ooneko
	pushMerge = group user/ooneko
[access "refs/tags/*"]
	push = group user/ooneko
	push = +force group user/ooneko
